[submodule "pack/bundle/start/delimitMate"]
	path = pack/bundle/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "pack/bundle/start/vim-slime"]
	path = pack/bundle/start/vim-slime
	url = https://github.com/jpalardy/vim-slime.git
[submodule "pack/bundle/start/Nvim-R"]
	path = pack/bundle/start/Nvim-R
	url = https://github.com/jalvesaq/Nvim-R
[submodule "pack/bundle/start/lightline.vim"]
	path = pack/bundle/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "pack/bundle/start/gruvbox"]
	path = pack/bundle/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "vim-commentary"]
	path = pack/bundle/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim-surround"]
	path = pack/bundle/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/bundle/start/Dockerfile.vim"]
	path = pack/bundle/start/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "pack/bundle/start/nerdtree"]
	path = pack/bundle/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/bundle/start/vim-fugitive"]
	path = pack/bundle/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/bundle/start/vim-grep"]
	path = pack/bundle/start/vim-grep
	url = https://github.com/itchyny/vim-grep.git
[submodule "pack/bundle/start/vim-signify"]
	path = pack/bundle/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "pack/bundle/start/rainbow_csv"]
	path = pack/bundle/start/rainbow_csv
	url = https://github.com/mechatroner/rainbow_csv.git
[submodule "pack/bundle/start/vim-jinja"]
	path = pack/bundle/start/vim-jinja
	url = https://github.com/mitsuhiko/vim-jinja.git
[submodule "pack/bundle/start/vim-dadbod"]
	path = pack/bundle/start/vim-dadbod
	url = https://github.com/tpope/vim-dadbod.git
[submodule "pack/bundle/start/tabular"]
	path = pack/bundle/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "pack/bundle/start/ale"]
	path = pack/bundle/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "pack/bundle/start/ncm-R"]
	path = pack/bundle/start/ncm-R
	url = https://github.com/gaalcaras/ncm-R.git
[submodule "pack/bundle/start/ultisnips"]
	path = pack/bundle/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "pack/bundle/start/vim-snippets"]
	path = pack/bundle/start/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "pack/bundle/start/jedi-vim"]
	path = pack/bundle/start/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
