[submodule "pack/bundle/start/vim-slime"]
	path = pack/bundle/start/vim-slime
	url = https://github.com/jpalardy/vim-slime.git
[submodule "pack/bundle/start/Nvim-R"]
	path = pack/bundle/start/Nvim-R
	url = https://github.com/jalvesaq/Nvim-R
[submodule "pack/bundle/start/lightline.vim"]
	path = pack/bundle/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "pack/bundle/start/gruvbox"]
	path = pack/bundle/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "vim-commentary"]
	path = pack/bundle/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim-surround"]
	path = pack/bundle/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/bundle/start/Dockerfile.vim"]
	path = pack/bundle/start/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "pack/bundle/start/nerdtree"]
	path = pack/bundle/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/bundle/start/vim-fugitive"]
	path = pack/bundle/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/bundle/start/vim-grep"]
	path = pack/bundle/start/vim-grep
	url = https://github.com/itchyny/vim-grep.git
[submodule "pack/bundle/start/vim-signify"]
	path = pack/bundle/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "pack/bundle/start/rainbow_csv"]
	path = pack/bundle/start/rainbow_csv
	url = https://github.com/mechatroner/rainbow_csv.git
[submodule "pack/bundle/start/vim-jinja"]
	path = pack/bundle/start/vim-jinja
	url = https://github.com/mitsuhiko/vim-jinja.git
[submodule "pack/bundle/start/vim-dadbod"]
	path = pack/bundle/start/vim-dadbod
	url = https://github.com/tpope/vim-dadbod.git
[submodule "pack/bundle/start/tabular"]
	path = pack/bundle/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "pack/bundle/start/ale"]
	path = pack/bundle/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "pack/bundle/start/ncm-R"]
	path = pack/bundle/start/ncm-R
	url = https://github.com/gaalcaras/ncm-R.git
[submodule "pack/bundle/start/vim-snippets"]
	path = pack/bundle/start/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "pack/bundle/start/jedi-vim"]
	path = pack/bundle/start/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "pack/bundle/start/vim-emoji"]
	path = pack/bundle/start/vim-emoji
	url = https://github.com/junegunn/vim-emoji.git
[submodule "pack/bundle/start/vim-exchange"]
	path = pack/bundle/start/vim-exchange
	url = https://github.com/tommcdo/vim-exchange
[submodule "pack/bundle/start/csv.vim"]
	path = pack/bundle/start/csv.vim
	url = https://github.com/chrisbra/csv.vim.git
[submodule "pack/bundle/start/vim-obsession"]
	path = pack/bundle/start/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "pack/bundle/start/vim-javascript"]
	path = pack/bundle/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "pack/bundle/start/pytest.vim"]
	path = pack/bundle/start/pytest.vim
	url = https://github.com/alfredodeza/pytest.vim.git
[submodule "pack/bundle/start/stan-vim"]
	path = pack/bundle/start/stan-vim
	url = https://github.com/eigenfoo/stan-vim.git
[submodule "pack/bundle/start/vim-tmux-navigator"]
	path = pack/bundle/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "pack/bundle/start/vim-devicons"]
	path = pack/bundle/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "pack/bundle/start/vim-signature"]
	path = pack/bundle/start/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "pack/bundle/start/vim-pyenv"]
	path = pack/bundle/start/vim-pyenv
	url = https://github.com/lambdalisue/vim-pyenv.git
[submodule "pack/bundle/start/syntastic"]
	path = pack/bundle/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "pack/bundle/start/fzf.vim"]
	path = pack/bundle/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/bundle/start/pgsql.vim"]
	path = pack/bundle/start/pgsql.vim
	url = https://github.com/lifepillar/pgsql.vim.git
[submodule "pack/bundle/start/delimitMate"]
	path = pack/bundle/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
